.cart {
  &Count {
    position: relative;
    .containerCart {
      border-radius: 50px;
      background: $primaryColor;
      font-size: 12px;
      position: absolute;
      right: -20px;
      top: -10px;
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__notification {
    background: #a0fca0;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 6;
  }
}

.nav__cart--ico {
  font-size: 25px;
  cursor: pointer;
}
