footer {
  background: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  p {
    list-style: none;
    color: white;
  }
}
