header {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 2;
  nav {
    ul {
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  @media screen and (max-width: 460px) {
    justify-content: center;
    gap: 20px;
  }
  .header {
    &__logo {
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: white;
      img {
        width: 50px;
      }
    }
    &__active {
      color: $primaryColor !important;
    }
  }
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}
